@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shake {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.onclick-popup {
  /* border-top: 30px solid #000000; */
  border-radius: 10px;
  background: #cccccc5e;
  /* padding: 15px; */
}
.PreviewTopbar {
  height: 38px;
  padding: 12px;
  display: flex;
  background-color: #000;
  border-radius: 10px 10px 0 0;
}
.pagewidth {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;
}

.ds_product_details {
  width: 100%;
}

.ds_product_details_main {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.ds_product_details_main .product_image img {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

.onclick-popup .icon-with-text {
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 0 0 23px 0;
}

.p_details {
  margin-left: 50px;
}

.p_details p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1c1d1d;
  margin: 0 0 15px 0;
}

.p_details h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1c1d1d;
  margin: 0 0 23px 0;
}

.p_details h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1c1d1d;
  margin: 0 0 23px 0;
}

.p_details .quantity_btns span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1c1d1d;
  margin: 0 0 10px;
  display: block;
}

.quantity_numbers {
  display: flex;
  border: 1px solid #1c1d1d;
  padding: 5px;
  border-radius: 3px;
  max-width: 80px;
  justify-content: center;
}

.quantity_numbers .numbers {
  margin: 0 23px;
}

.addtocartbtn {
  max-width: 400px;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  margin: 23px 0 23px 0;
}

.buynowbtn {
  max-width: 400px;
  background: transparent;
  color: #1c1d1d;
  text-align: center;
  border: 1px solid #1c1d1d;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  margin: 0px 0 23px 0;
}

.product_content {
  max-width: 700px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
  line-height: 25px;
  text-align: justify;
}

.onclick-popup .bgimage img {
  width: 100%;
}

.onclick-popup .on-click a {
  color: #000000;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0;
  margin: 0px 0 0 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.modal-content .popup-heading {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  color: #1c1d1d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 15px 23px;
  margin-bottom: 1px;
}

.onclick-popup .modal-content {
  position: relative;
  background: #f4f4f5;
  border-radius: 8px;
  width: 60%;
  min-height: 70%;
}

.onclick-popup .close-btn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
}

.popupcoupon {
  background-color: #fff;
  margin: 0 0 10px;
  padding: 15px 23px;
}

.popup_couponcode {
  border: 0.5px dashed #000000;
  color: #000000;
  padding: 5px;
  max-width: fit-content;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: #fff;
}

.popup_couponcode-details {
  color: #1c1d1d;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.popup_couponcode-details span {
  display: block;
  padding: 0 0 5px;
}

@media (max-width: 991.98px) {
  .ds_product_details_main {
    display: block;
  }

  .ds_product_details_main .product_image img {
    display: block;
    width: 80%;
    text-align: center;
  }

  .ds_product_details_main .product_image {
    margin: 0 0 50px 0;
  }

  .p_details {
    margin: 0 auto;
    width: 80%;
  }
}
