@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Raleway&family=Roboto+Condensed&family=Roboto:wght@700&display=swap");

.main_app_page {
  margin-top: 50px;
  padding-bottom: 100px;
}
.topbar_title {
  background-color: #000;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  height: 50px;
  padding: 15px;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}
.lm_add_to_sticky_top_bar_header_bottom {
    width: 100%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--white);
   padding: 24px 34px;
   margin-left: auto;
   margin-right: auto;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 22;
   box-shadow: 0px 2px 8px #ededed;
 }
 .lm_add_to_sticky_top_bar_header_out {
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 .lm_add_to_sticky_top_bar_header_out div {
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 3px;
 }

.sidebar_title {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.clickdetails_layout {
  margin: 10px 0;
}

.clickdetails_card > div:first-child {
  height: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clickdetails_card {
  padding-bottom: 20px;
}

.click_count {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}

.click_countdetail {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}

.dashboard_tag {
  display: flex;
  width: 85px;
  cursor: pointer;
}
.dashboard_tag span {
  width: 15px;
  height: 15px;
}

.template___Card {
  font-size: 16px;
  font-weight: 600;
  margin: 15px;
}

.template_option_sticky {
  margin: 10px;
  text-align: center;
  width: 250px;
}
.template_option {
  display: flex;
  flex-wrap: wrap;
}

.sticky_child {
  flex: 1;
  margin: 10px;
}
.sticky_child img {
  border: 1px solid #ccc;
}

.save_template_btn {
  display: flex;
  padding: 10px 0;
  justify-content: end;
}

/* .show_stickyCart span{
    padding: 5px;
} */

.show_stickyCart {
  margin: 10px 0;
}

.show_stickyCart > div:first-child {
  width: 100%;
}

.show_stickyCart > div:first-child > div:first-child {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.show_sticky_span {
  margin: auto 0;
}
.show_stickyCart button {
  padding: 5px;
}
.display_setting_title {
  color: #77798c;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}

.display_setting_subtitle {
  font-weight: 600;
}

div[id^="font-picker"] {
  width: 100% !important;
  border: 1px solid !important;
  border-color: #ccc !important;
  border-radius: 5px !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  z-index: 99 !important;
}

div[id^="font-picker"] .dropdown-button {
  background-color: transparent !important;
}
div[id^="font-picker"] .dropdown-button:hover,
div[id^="font-picker"] .dropdown-button:focus {
  background: transparent !important;
}

.style__wrapper_div {
  margin-bottom: 10px;
}

.color_picker_class {
  margin: 5px;
  display: flex;
}

.color_picker__code {
  margin: auto 5px;
}
.color_picker__textfieldd {
  padding: 5px 0;
}
.color_picker__btnn {
  padding: 5px;
}
.color_picker_border__div {
  border: 1px solid;
  border-radius: 5px;
  border-color: #ccc;
  padding: 0;
  height: 30px;
  width: 40px;
}
.position_dropDown_btnn button {
  width: 100%;
}
.position_dropDown_btnn span {
  display: flex;
  justify-content: space-between;
}
.display_select_drop_down {
  padding: 5px 0;
}
.general_setting_title {
  cursor: pointer;
  padding: 10px 0;
}
.general_setting_title > div:first-child > div:first-child {
  font-size: 16px;
  font-weight: 600;
  display: flex;
}
.setting_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}
.buy_now__textfield {
  padding: 5px 0;
}

.stickyCart__icon {
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  /* top: 200px;
  right: 10px; */
  border-radius: 50%;
  box-shadow: 0 0 20px gray;
  z-index: 9999;
}
.sticky_Count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 99999;
  text-align: center;
  font-weight: bold;
  top: 0;
  left: 0;
}
.main_sticky___div {
  /* position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 20px gray;
  z-index: 9999; */
}
.sticky_faq {
  padding-bottom: 10px !important;
}
.sticky_faq_div {
  padding: 5px 0;
}
.sticky_faq_div > div:first-child > div:first-child {
  font-size: 16px;
  font-weight: 600;
}
